@import '../../../public/css/variables.css';

:host {
  display: block;
  width: 100%;
  position: relative;
}

.brick-component {
  position: initial;
  display: flex;
  flex-direction: column;

  margin: 15px;

  font-size: 16px;
  color: #222;

  border-radius: 3px;
  background-color: #EEE;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.brick-component:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),
              0 6px 10px 0 rgba(0,0,0,0.3);
}

.brick-component:hover .quote {

}

.brick-component > .quote,
.brick-component > .author {
  flex: 1 1 auto;
  padding: 10px 15px;
}

.brick-component > .quote {
  max-width: 500px;
  font-size: 18px;
  height: 138px;
  overflow: hidden;
  position: relative;
}

.brick-component > .quote:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: inset 0px -17px 11px -6px rgb(238, 238, 238);
}

.brick-component > .author {
  align-self: flex-end;
  font-style: italic;
}

.author:before {
  display: inline;
  margin-right: 5px;
  content: "-";
}

.creator {
  padding: 3px;
  font-size: 11px;
  line-height: 14px;
  background-color: rgba(0,0,0,.1);
}
