@import '../../public/css/variables.css';

:host {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}

.brick-component {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  color: #e6e6e6;

  border-radius: 4px;
  background-color: #424242;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.brick-component:hover {
  background-color: #3d3d3d;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),
              0 6px 10px 0 rgba(0,0,0,0.3);
}

.quote,
.author {
  font-family: 'Patrick Hand', cursive;
  padding: 10px 15px;
}

.quote {
  margin: 15px 0 0;

  text-align: left;
  font-size: 27px;
}

.quote-start,
.quote-end {
  font-size: 42px;
  font-family: cursive;
  vertical-align: bottom;
  line-height: 25px;
}

.author {
  padding: 0 15px 15px;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}

.footer {
  margin-bottom: 8px;
  padding: 5px 0;
  box-sizing: content-box;
  color: #353535;
  background-color: rgba(255, 255, 255, .8);
}

.creator {
  font-family: 'Bad Script', cursive;
  display: block;
  font-weight: 400;
  font-size: 18px;
}
