@import "variables.css";

html {
  background: var(--background);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
  color: #fff;

  min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p, input {
  font-weight: inherit;
  font-family: inherit;
}

a {
  color: #222;
  text-decoration: none;
  transition: color .2s linear;
}

a:hover {
  color: #fff;
}
