@import '../../../public/css/variables.css';

:host {
  display: block;
  padding-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  margin: 5px;
  max-width: 500px;
  font-size: 16px;
  line-height: 18px;
}

.quote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
