@import '../../../public/css/variables.css';

:host {
  display: block;
  padding-top: 15px;
}

.wall {
  max-width: 1600px;
  margin: 0 auto;
}

.brick {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .brick {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .brick {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1200px) {
  /* For big desktops: */
  .brick {
    width: 25%;
  }
}
