@import '../../../public/css/variables.css';

:host {
  display: block;
  padding-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  margin: 5px;
  max-width: 500px;
  font-size: 16px;
  line-height: 18px;
}

.quote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quote-box {
  display: flex;
  flex-direction: column;

  margin: 15px;

  font-size: 16px;
  color: #222;

  border-radius: 3px;
  background-color: #EEE;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
}

.quote-box > .quote,
.quote-box > .author {
  flex: 1 1 auto;
  padding: 10px 15px;
}

.quote-box > .quote {
  max-width: 500px;
  font-size: 18px;
}

.quote-box > .author {
  align-self: flex-end;
  font-style: italic;
}

.author:before {
  display: inline;
  margin-right: 5px;
  content: "-";
}

.creator {
  padding: 3px;
  font-size: 11px;
  line-height: 14px;
  background-color: rgba(0,0,0,.1);
}
